@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=e98f5793-4cb3-43cf-9c5a-90c30937c6bd&fontids=903184,903187,903190,903193,903196,903199,903202,903205");
@font-face{
font-family:"HelveticaNeueETW01-45Lt";
src:url("https://assets.crossref.org/private/fonts/903184/e0781a75-0ecb-464e-b6e9-85780ddc0921.eot?#iefix");
src:url("https://assets.crossref.org/private/fonts/903184/e0781a75-0ecb-464e-b6e9-85780ddc0921.eot?#iefix") format("eot"),url("https://assets.crossref.org/private/fonts/903184/b8765d4b-d9a3-48b9-ac65-560e7517cf0e.woff2") format("woff2"),url("https://assets.crossref.org/private/fonts/903184/d7d2e6c6-fc3a-41a5-9b52-648e12e215b2.woff") format("woff"),url("https://assets.crossref.org/private/fonts/903184/cb64744b-d0f7-4ef8-a790-b60d6e3e4f21.ttf") format("truetype"),url("https://assets.crossref.org/private/fonts/903184/ccde919e-a712-41ef-b90f-9efc47661659.svg#ccde919e-a712-41ef-b90f-9efc47661659") format("svg");
}

@font-face{
font-family:"HelveticaNeueETW01-65Md";
src:url("https://assets.crossref.org/private/fonts/903196/a747e1ea-ecdf-4f3d-ad47-3df9cfbee3cc.eot?#iefix");
src:url("https://assets.crossref.org/private/fonts/903196/a747e1ea-ecdf-4f3d-ad47-3df9cfbee3cc.eot?#iefix") format("eot"),url("https://assets.crossref.org/private/fonts/903196/3e8a8b56-3cb0-4347-b670-eaaf06b76e9b.woff2") format("woff2"),url("https://assets.crossref.org/private/fonts/903196/07173950-fa69-4b65-9c71-0cf2ec00b51d.woff") format("woff"),url("https://assets.crossref.org/private/fonts/903196/aac5a4b8-ffd3-4529-a098-21b91bc86f9a.ttf") format("truetype"),url("https://assets.crossref.org/private/fonts/903196/2379b081-2371-47d9-8be9-4e39d7892ebf.svg#2379b081-2371-47d9-8be9-4e39d7892ebf") format("svg");
}

body {
font-family:'HelveticaNeueETW01-45Lt';
font-style: normal !important;
}

h1, h2, h3 {
font-family:'HelveticaNeueETW01-65Md';
}

.demo-panel {

}

.demo-panel > .content {
  margin: 10px;
  padding: 10px;
  background-color: #ffc72c;
}

.demo-panel a, .demo-panel p {
  color: #4f5858;
}

#chart_container {
  position: relative;
  margin-bottom: 50px;
}

#chart {
        position: relative;
        left: 40px;
}
#y_axis {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40px;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 16px;
}

.navbar {
  margin-bottom: 20px;
}